<template>
  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <advertisement-select
          @change="changeMethod"
          style-prop="width: 100%"
          ref="advertisementSelect"
        >
        </advertisement-select>
      </div>
      <div class="form-group" v-if="value != ''">
        <button @click="addMethod" class="btn btn-block btn-primary btn-sm" type="button">
          Add to Menu
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import AdvertisementSelectComponent from '../../../../../element-ui/AdvertisementSelectComponent';

export default {
  components: {
    'advertisement-select': AdvertisementSelectComponent
  },
  data() {
    return {
      value: ''
    }
  },
  methods: {
    addMethod() {
      let advertisement = this.$refs.advertisementSelect.options.find(obj => obj.id == this.value);
      this.$emit('add', advertisement);
      this.$refs.advertisementSelect.value = '';
      this.value = '';
    },
    changeMethod(value) {
      this.value = value;
    }
  }
}
</script>
