<template>
  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <category-select
          @change="changeMethod"
          style-prop="width: 100%"
          ref="categorySelect"
        >
        </category-select>
      </div>
      <div class="form-group" v-if="value != ''">
        <button @click="addMethod" class="btn btn-block btn-primary btn-sm" type="button">
          Add to Menu
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import CategorySelectComponent from '../../../../../element-ui/CategorySelectComponent';

export default {
  components: {
    'category-select': CategorySelectComponent
  },
  data() {
    return {
      value: ''
    }
  },
  methods: {
    addMethod() {
      let category = this.$refs.categorySelect.options.find(obj => obj.id == this.value);
      this.$emit('add', category);
      this.$refs.categorySelect.value = '';
      this.value = '';
    },
    changeMethod(value) {
      this.value = value;
    }
  }
}
</script>
