<template>
  <div>
    <draggable
      class="item-container"
      tag="div"
      v-bind="sortableJSOptions"
      :list="list"
    >
      <div v-for="el in list" :key="el.id">
        <div class="d-flex">
          <div>
            <button class="btn btn-lg btn-secondary handle" type="button">
              <i class="fas fa-bars"></i>
            </button>
          </div>
          <div class="flex-grow-1">
            <el-collapse class="backend-menu-map-edit-form-menu-draggable-collapse">
              <el-collapse-item>
                <template slot="title">
                  <span class="ml-2" :title="el.reference_title + ' - ' + el.reference_type">
                    {{ el.reference_title }} - {{ el.reference_type }}
                  </span>
                </template>
                <div class="col">
                  <div class="form-group">
                    <label class="col-form-label">Title</label>
                    <input class="form-control form-control-sm" type="text" v-model="el.title" />
                  </div>
                  <div class="form-group">
                    <button @click="removeItem(el.id)" class="btn btn-danger btn-sm">Remove</button>
                  </div>
                </div>
              </el-collapse-item>
            </el-collapse>
          </div>
        </div>
        <menu-draggable @remove="updateListByParentId" class="item-sub" :list-prop="el.list" :parent-id="el.id" />
      </div>
    </draggable>
    <div v-if="valueNameProp != ''">
      <input type="hidden" :name="valueNameProp" :value="JSON.stringify(list)" />
      <pre v-if="valueDisplay">{{ JSON.stringify(list, null, 2) }}</pre>
    </div>
  </div>
</template>

<script>
import {
  Collapse,
  CollapseItem
} from 'element-ui';
import draggable from 'vuedraggable';

export default {
  components: {
    'draggable': draggable,
    'el-collapse': Collapse,
    'el-collapse-item': CollapseItem
  },
  computed: {
    sortableJSOptions() {
      return {
        animation: 150,
        ghostClass: 'ghost',
        group: 'menu'
      };
    },
  },
  data() {
    return {
      list: []
    }
  },
  methods: {
    add(value) {
      this.list.push(value);
    },
    removeItem(id) {
      this.list = this.list.filter(el => el.id !== id);
      this.$emit('remove', {
        'list': this.list,
        'parentId': this.parentId
      });
    },
    updateListByParentId({ list, parentId }) {
      this.list.map(obj => {
        if (obj.id == parentId) {
          obj.list = list;
        }

        return obj;
      });
    }
  },
  mounted() {
    this.list = this.listProp;
  },
  name: 'menu-draggable',
  props: {
    listProp: {
      default: () => [],
      type: Array
    },
    parentId: Number,
    valueDisplay: {
      default: false,
      type: Boolean
    },
    valueNameProp: {
      default: '',
      type: String
    }
  }
}
</script>

<style>
.backend-menu-map-edit-form-menu-draggable-collapse {
  border-left: 1px solid #EBEEF5;
  border-right: 1px solid #EBEEF5;
}
.backend-menu-map-edit-form-menu-draggable-collapse > .el-collapse-item > .el-collapse-item__wrap {
  margin-bottom: 0;
}
.backend-menu-map-edit-form-menu-draggable-collapse > .el-collapse-item > div[role=tabpanel] > .el-collapse-item__content {
  padding-bottom: 0 !important;
}
.handle {
  cursor: all-scroll !important;
}
.item {
  background-color: #fefefe;
  border: solid black 1px;
  padding: 1rem;
}
.item-container {
  width: 30rem;
}
.item-sub {
  margin: 0 0 0 1rem;
}
</style>