<template>
  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <post-select
          @change="changeMethod"
          style-prop="width: 100%"
          ref="postSelect"
        >
        </post-select>
      </div>
      <div class="form-group" v-if="value != ''">
        <button @click="addMethod" class="btn btn-block btn-primary btn-sm" type="button">
          Add to Menu
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import PostSelectComponent from '../../../../../element-ui/PostSelectComponent';

export default {
  components: {
    'post-select': PostSelectComponent
  },
  data() {
    return {
      value: ''
    }
  },
  methods: {
    addMethod() {
      let post = this.$refs.postSelect.options.find(obj => obj.id == this.value);

      this.$emit('add', post);
      this.$refs.postSelect.value = '';
      this.value = '';
    },
    changeMethod(value) {
      this.value = value;
    }
  }
}
</script>
