<template>
  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <tag-select
          @change="changeMethod"
          style-prop="width: 100%"
          ref="tagSelect"
        >
        </tag-select>
      </div>
      <div class="form-group" v-if="value != ''">
        <button @click="addMethod" class="btn btn-block btn-primary btn-sm" type="button">
          Add to Menu
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import TagSelectComponent from '../../../../../element-ui/TagSelectComponent';

export default {
  components: {
    'tag-select': TagSelectComponent
  },
  data() {
    return {
      value: ''
    }
  },
  methods: {
    addMethod() {
      let tag = this.$refs.tagSelect.options.find(obj => obj.id == this.value);

      this.$emit('add', tag);
      this.$refs.tagSelect.value = '';
      this.value = '';
    },
    changeMethod(value) {
      this.value = value;
    }
  }
}
</script>
