<template>
  <div>
    <form class="form-horizontal" :action="action" :method="method">
      <slot></slot>
      <div class="row">
        <div class="col-md-3">
          <el-collapse accordion class="backend-menu-map-edit-form-collapse-accordion">
            <el-collapse-item name="advertisement" title="Advertisement">
              <advertisement-card @add="advertisementAdd"></advertisement-card>
            </el-collapse-item>
            <el-collapse-item name="category" title="Category">
              <category-card @add="categoryAdd"></category-card>
            </el-collapse-item>
            <el-collapse-item name="post" title="Post">
              <post-card @add="postAdd"></post-card>
            </el-collapse-item>
            <el-collapse-item name="tag" title="Tag">
              <tag-card @add="tagAdd"></tag-card>
            </el-collapse-item>
          </el-collapse>
        </div>
        <div class="col-md-9">
          <div class="card">
            <div class="card-header">
              <div class="form-group row">
                <div class="col-sm-10">
                  <div v-if="menuName">
                    <div class="row">
                      <label class="col-form-label col-3">Menu Name</label>
                      <div class="col-9">
                        <input class="form-control" readonly type="text" :value="menuName" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <button class="btn btn-block btn-success" type="submit">Save Menu</button>
                </div>
              </div>
            </div><!-- /.card-header -->
            <div class="card-body">
              <menu-draggable ref="menuDraggable" :list-prop="valueProp" :value-name-prop="valueNameProp"></menu-draggable>
            </div><!-- /.card-body -->
            <div class="card-footer">
              <div class="row">
                <div class="col-sm-10">
                  <div v-if="deleteUrl">
                    <a class="btn btn-link" :href="deleteUrl">Delete Menu</a>
                  </div>
                </div>
                <div class="col-sm-2">
                  <button class="btn btn-block btn-success" type="submit">Save Menu</button>
                </div>
              </div>
            </div><!-- /.card-footer -->
          </div><!-- /.card -->
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import AdvertisementCard from './form/AdvertisementCardComponent';
import CategoryCard from './form/CategoryCardComponent';
import { Collapse, CollapseItem } from 'element-ui';
import MenuDraggable from './form/MenuDraggableComponent';
import PostCard from './form/PostCardComponent';
import TagCard from './form/TagCardComponent';

export default {
  components: {
    'advertisement-card': AdvertisementCard,
    'category-card': CategoryCard,
    'el-collapse': Collapse,
    'el-collapse-item': CollapseItem,
    'menu-draggable': MenuDraggable,
    'post-card': PostCard,
    'tag-card': TagCard
  },
  methods: {
    advertisementAdd(value) {
      this.$refs.menuDraggable.add({
        id: Date.now(),
        list: [],
        reference_id: value.id,
        reference_title: value.title,
        reference_type: 'advertisement',
        title: ''
      });
    },
    categoryAdd(value) {
      this.$refs.menuDraggable.add({
        id: Date.now(),
        list: [],
        reference_id: value.id,
        reference_title: value.name,
        reference_type: 'category',
        title: ''
      });
    },
    postAdd(value) {
      this.$refs.menuDraggable.add({
        id: Date.now(),
        list: [],
        reference_id: value.id,
        reference_title: value.title,
        reference_type: 'post',
        title: ''
      });
    },
    tagAdd(value) {
      this.$refs.menuDraggable.add({
        id: Date.now(),
        list: [],
        reference_id: value.id,
        reference_title: value.name,
        reference_type: 'tag',
        title: ''
      });
    }
  },
  props: {
    action: String,
    deleteUrl: String,
    method: String,
    menuId: {
      required: true,
      type: Number
    },
    menuName: String,
    valueNameProp: String,
    valueProp: {
      default: () => [],
      type: Array
    }
  }
}
</script>

<style>
.backend-menu-map-edit-form-collapse-accordion > .el-collapse {
  border: 1px solid #EBEEF5;
}
.backend-menu-map-edit-form-collapse-accordion > .el-collapse-item > div[role=tab] {
  border-bottom: 1px solid rgba(0,0,0,.125);
}
.backend-menu-map-edit-form-collapse-accordion > .el-collapse-item > div[role=tab] > .el-collapse-item__header {
  padding-left: 1.25rem;
}
.backend-menu-map-edit-form-collapse-accordion > .el-collapse-item > div[role=tabpanel] > .el-collapse-item__content {
  padding-bottom: 0;
}
.backend-menu-map-edit-form-collapse-accordion > .el-collapse-item > div[role=tabpanel] > .el-collapse-item__content > .card {
  margin-bottom: 0;
}
.backend-menu-map-edit-form-collapse-accordion > .el-collapse-item.is-active > div[role=tab] > .el-collapse-item__header.is-active {
  background-color: rgba(0,0,0,.03);
}
</style>