<template>
  <div>
    <div @click="clickMethod" v-bind="$attrs">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
        adsLink: ''
    }
  },
  name: 'AnchorWithAdsLink',
  methods: {
    clickMethod() {
        if (this.adsLink != '') {
            event.preventDefault();
            window.open(this.adsLink);
        }

        this.adsLink = '';
    }
  },
  mounted() {
    this.adsLink = this.adsLinkProp;
  },
  props: {
    adsLinkProp: String
  }
}
</script>
