<template>
    <div>
        <editor
            api-key="no-api-key"
            v-model="initialValue"
            :init="init"
        >
        </editor>
        <input type="hidden" v-model="initialValue" :name="nameProp" />
    </div>
</template>

<script>
import Editor from '@tinymce/tinymce-vue';

export default {
  components: {
    'editor': Editor
  },
  created() {
      this.initialValue = this.valueProp;
  },
  data() {
    return {
      init: {
        images_upload_handler: function (blobInfo, success, failure) {
          var xhr, formData;

          xhr = new XMLHttpRequest();
          xhr.open('POST', '/api/medium/type/tinymce');
          xhr.setRequestHeader('Accept', 'application/json');
          xhr.onload = function() {
            var json;

            if (xhr.status <= 200) {
              failure('HTTP Error: ' + xhr.status);
              return;
            }

            json = JSON.parse(xhr.responseText);

            if (!json || typeof json.data.location != 'string') {
              failure('Invalid JSON: ' + xhr.responseText);
              return;
            }

            success(json.data.location);
          };

          formData = new FormData();
          formData.append('medium', blobInfo.blob(), blobInfo.filename());

          xhr.send(formData);
        },
        max_height: 500,
        menubar: 'file edit view insert format tools table help',
        plugins: [
            'advlist',
            'anchor',
            'autolink',
            'autoresize',
            'autosave',
            'charmap',
            'code',
            'codesample',
            'emoticons',
            'fullscreen',
            'help',
            'hr',
            'image',
            'imagetools',
            'importcss',
            'insertdatetime',
            'link',
            'lists',
            'media',
            'nonbreaking',
            // 'noneditable',
            'pagebreak',
            'paste',
            'preview',
            'print',
            'quickbars',
            'save',
            'searchreplace',
            'table',
            'textpattern',
            'toc',
            'visualblocks',
            'visualchars',
            'wordcount'
        ],
        relative_urls: false,
        remove_script_host: false
      },
      initialValue: ''
    };
  },
  methods: {},
  name: 'TextareaTinymce',
  props: {
    nameProp: String,
    valueProp: String
  }
}
</script>

<style>
.tox-notification--warning {
    display: none !important;
}
</style>
