<template>
  <div>
    <div class="d-flex">
      <div class="flex-grow-1">
        <el-select
          clearable
          filterable
          placeholder="Search or type a title"
          remote
          v-model="optionId"
          :class="classProp"
          :loading="loading"
          :remote-method="remoteMethod"
          :style="styleProp"
        >
          <el-option v-for="option in options" :key="option.id" :label="option.title" :value="option.id"></el-option>
        </el-select>
      </div>
      <div>
        <button @click="addMethod" class="btn btn-default" type="button">
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </div>
    <hr />
    <draggable handle=".handle" v-model="values">
      <div class="d-flex" v-for="(value, i) in values" :key="i">
        <div>
          <button class="btn btn-default handle" type="button">
            <i class="fas fa-arrows-alt"></i>
          </button>
        </div>
        <div class="border flex-grow-1 p-1">
          {{ value.title }}
        </div>
        <div>
          <button @click="deleteMethod(i)" class="btn btn-danger" type="button">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div v-if="nameProp != ''">
          <input type="hidden" :name="nameProp" :value="value.id" />
        </div>
      </div>
    </draggable>
  </div>
</template>

<script>
import AdvertisementSelect from './AdvertisementSelectComponent.vue';
import AdvertisementService from '../../services/AdvertisementService';
import draggable from 'vuedraggable';

export default {
  components: {
    'advertisement-select': AdvertisementSelect,
    'draggable': draggable
  },
  data() {
    return {
      loading: false,
      optionId: '',
      options: [],
      values: []
    }
  },
  methods: {
    addMethod() {
      AdvertisementService.getAdvertisementWhereId(this.optionId).then(res => this.values.push(res.data));
      this.optionId = '';
    },
    deleteMethod(i) {
      this.values.splice(i, 1);
    },
    remoteMethod(query) {
      this.loading = true;
      AdvertisementService.getAdvertisementsWhereTitleOrderByTitle(query).then(res => this.options = res.data);
      this.loading = false;
    }
  },
  mounted() {
    this.values = this.valuesProp;
  },
  props: {
    classProp: String,
    nameProp: String,
    styleProp: String,
    valuesProp: {
      default: () => [],
      type: Array
    }
  }
}
</script>
