<template>
  <div>
    <el-upload
      action="/api/medium/type/element-ui/upload/image"
      list-type="picture-card"
      :accept="acceptProp"
      :file-list="fileList"
      :limit="limitProp"
      :multiple="multipleProp"
      :on-exceed="onExceed"
      :on-success="onSuccessMethod"
    >
      <i class="el-icon-plus" slot="default"></i>
      <div slot="file" slot-scope="{file}">
        <img
          class="el-upload-list__item-thumbnail"
          :src="file.url" alt=""
        >
        <span class="el-upload-list__item-actions">
          <span
            @click="handlePictureCardPreview(file)"
            class="el-upload-list__item-preview"
          >
            <i class="el-icon-zoom-in"></i>
          </span>
          <span
            @click="handleRemove(file)"
            class="el-upload-list__item-delete"
          >
            <i class="el-icon-delete"></i>
          </span>
        </span>
      </div>
    </el-upload>
    <el-dialog center :visible.sync="dialogVisible">
      <img width="100%" :alt="dialogImageAlt" :src="dialogImageUrl" />
    </el-dialog>
    <div v-if="nameProp != ''">
      <div v-for="file in fileList" :key="file.uid" >
        <input type="hidden" :name="nameProp" :value="file.response ? file.response.id : 0" />
      </div>
    </div>
  </div>
</template>

<script>
import { Dialog, Upload } from 'element-ui';

export default {
  components: {
    'el-dialog': Dialog,
    'el-upload': Upload
  },
  data() {
    return {
      fileList: [],
      dialogImageAlt: '',
      dialogImageUrl: '',
      dialogVisible: false
    };
  },
  methods: {
    handlePictureCardPreview(file) {
      this.dialogImageAlt = file.name;
      this.dialogImageUrl = file.url;
      this.dialogVisible = true;
    },
    handleRemove(file) {
      this.fileList = this.fileList.filter(obj => obj.uid !== file.uid);
    },
    onExceed(files, fileList) {
      this.$message.warning(`The limit is ${this.limitProp}, you selected ${files.length} files this time, add up to ${files.length + fileList.length} totally`);
    },
    onSuccessMethod(response, file, fileList) {
      this.fileList = fileList;
    }
  },
  mounted() {
    this.fileList = this.fileListProp;
  },
  props: {
    acceptProp: String,
    fileListProp: {
      default: () => [],
      type: Array
    },
    limitProp: {
      default: 5,
      type: Number
    },
    multipleProp: {
      default: false,
      type: Boolean
    },
    nameProp: String
  }
}
</script>

<style>
.el-upload-list--picture-card .el-upload-list__item-actions span+span {
  margin: 0px;
}
.el-upload-list__item {
  height: 90px !important;
  width: 90px !important;
}
.el-upload--picture-card {
  height: 90px;
  line-height: 90px;
  width: 90px;
}
</style>