<template>
  <div>
    <el-select
      @change="changeMethod"
      clearable
      filterable
      placeholder="Search or type a title"
      remote
      v-model="value"
      :class="classProp"
      :loading="loading"
      :remote-method="remoteMethod"
      :style="styleProp"
    >
      <el-option v-for="option in options" :key="option.id" :label="option.title" :value="option.id"></el-option>
    </el-select>
    <div v-if="nameProp != ''">
      <input type="hidden" :name="nameProp" :value="value" />
    </div>
  </div>
</template>

<script>
import PostService from '../../services/PostService';
import { Option, Select } from 'element-ui';

export default {
  components: {
    'el-option': Option,
    'el-select': Select
  },
  data() {
    return {
      loading: false,
      options: [],
      value: ''
    }
  },
  methods: {
    changeMethod(value) {
      this.$emit('change', value);
    },
    remoteMethod(query) {
      this.loading = true;
      PostService.getPostsWhereTitleOrderByTitle(query).then(res => this.options = res.data);
      this.loading = false;
    }
  },
  props: {
    classProp: String,
    nameProp: String,
    styleProp: String,
  }
}
</script>
