<template>
  <div>
    <el-tag
      @close="handleClose(tag)"
      closable
      type="info"
      v-for="tag in dynamicTags"
      :disable-transitions="false"
      :key="tag"
    >
      {{ tag }}
    </el-tag>
    <el-input
      @keydown.enter.native="handleInputConfirm"
      clearable
      ref="saveTagInput"
      size="small"
      v-if="inputVisible"
      v-model="inputValue"
    >
      <template slot="append">
        <el-button @click="handleInputConfirm" icon="el-icon-plus"></el-button>
        <el-button @click="inputVisible = false" icon="el-icon-close"></el-button>
      </template>
    </el-input>
    <el-button
      @click="showInput"
      class="button-new-tag" 
      size="small"
      v-else
    >
      + New Tag
    </el-button>
    <div v-if="nameProp != ''">
      <input type="hidden" v-for="tag in dynamicTags" :key="tag.id" :name="nameProp" :value="tag" />
    </div>
  </div>
</template>

<script>
import { Button, Input, Tag } from 'element-ui';

export default {
  components: {
    'el-button': Button,
    'el-input': Input,
    'el-tag': Tag
  },
  data() {
    return {
      dynamicTags: [],
      inputValue: '',
      inputVisible: false
    }
  },
  methods: {
    handleClose(tag) {
      this.dynamicTags.splice(this.dynamicTags.indexOf(tag), 1);
    },
    handleInputConfirm(event) {
      if (event) event.preventDefault();

      let inputValue = this.inputValue;
      if (inputValue) {
        if (this.dynamicTags.includes(inputValue)) {
          this.$notify.error({
            message: 'Tag already exists.',
            title: 'Warning'
          });
          return;
        }

        this.dynamicTags.push(inputValue);
      }
      this.inputValue = '';
    },
    showInput() {
      this.inputVisible = true;
      this.$nextTick(_ => {
        this.$refs.saveTagInput.$refs.input.focus();
      });
    }
  },
  mounted() {
    this.dynamicTags = this.valueProp;
  },
  props: {
    nameProp: String,
    valueProp: {
      default: [],
      type: Array
    }
  }
}
</script>

<style>
.el-tag {
  margin-bottom: 5px;
}
.el-tag + .el-tag {
  margin-left: 5px;
}
</style>